<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/tables.css" />
    <link rel="stylesheet" href="../styles/check-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
  </head>

  <body>
    <div id="app" v-cloak>
      <header>
        <navbar
        :user="user"
        :is-logged-in="isLoggedIn"
        />
      </header>

      <main v-if="!isLoading && currentCheck">
        <section class="check-details">
          <div class="check-header">
            <h2>Check #{{ currentCheck.check_number }}</h2>
          </div>

          <section class="contents">
            <div class="check-details-upper">
              <div class="check-main-info">
                <dl class="check-main-info-list">
                  <dt>Print Date:</dt>
                  <dd>{{ currentCheck.print_date }}</dd>

                  <dt>Cashier:</dt>
                  <dd>
                    {{ currentCheck.employee.id_employee}} |
                    <a
                      class="employee-link"
                      :href="'employee-page.html?id=' + currentCheck.employee.id_employee"
                    >
                    {{ currentCheck.employee.empl_surname }} 
                    {{ currentCheck.employee.empl_name }} 
                    {{ currentCheck.employee.empl_patronymic }}
                    </a>

                  </dd>

                  <dt>Customer:</dt>
                    <dd>
                      <template v-if="currentCheck.customer_card">
                        {{ currentCheck.customer_card.card_number }} | 
                        <a
                          class="customer-link"
                          :href="'customer-page.html?id=' + currentCheck.customer_card.card_number"
                        >
                        {{ currentCheck.customer_card.cust_surname }}
                        {{ currentCheck.customer_card.cust_name }} 
                        {{ currentCheck.customer_card.cust_patronymic }} 
                        </a>
                      </template>
                      <span v-else>No customer</span>
                    </dd>
                </dl>
              </div>
            </div>

            <div class="check-details-lower">
              <h3>Products</h3>

              <div class="table-and-summary">
                <table class="table-section">
                  <thead>
                    <tr class="table-row">
                      <th class="product-upc">UPC</th>
                      <th class="product-name">Product</th>
                      <th class="product-price">Price (&#8372;)</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-total">Sale Total (&#8372;)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="table-row"
                      v-for="(sale, index) in currentCheck.sales"
                      :key="index"
                    >
                      <td class="product-upc">
                        {{ sale.upc }}
                      </td>
                      <td class="product-name">
                        <a
                          :href="'product-page.html?upc=' + sale.upc"
                          class="product-link"
                        >
                          {{ sale.store_product.product.product_name }}
                        </a>
                      </td>
                      <td class="product-price">
                        {{ sale.selling_price.toFixed(2) }}
                      </td>
                      <td class="product-quantity">{{ sale.quantity }}</td>
                      <td class="product-total">
                        {{ (sale.selling_price * sale.quantity).toFixed(2) }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="check-summary">
                  <dl class="check-summary-list">
                    <dt class="check-subtotal">Subtotal:</dt>
                    <dd class="check-subtotal-value">
                      {{ subtotal.toFixed(2) }}
                    </dd>

                    <dt
                      class="check-discount"
                      v-if="currentCustomer && currentCustomer.percent"
                    >
                      Discount:
                    </dt>
                    <dd
                      class="check-discount-value"
                      v-if="currentCustomer && currentCustomer.percent"
                    >
                      {{ currentCustomer.percent }}%
                    </dd>

                    <dt class="check-total">Total:</dt>
                    <dd class="check-total-value">
                      <strong>{{ currentCheck.sum_total.toFixed(2) }}</strong>
                    </dd>

                    <dt class="check-vat">VAT:</dt>
                    <dd class="check-vat-value">
                      {{ currentCheck.vat.toFixed(2) }}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </section>
        </section>
      </main>

      <custom-footer v-if="!isLoading && currentCheck"></custom-footer>
    </div>
  </body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/app.js"></script>
</html>
