<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/tables.css" />
    <link rel="stylesheet" href="../styles/employees.css" />
    <link rel="stylesheet" href="../styles/filters.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <title>Employees - Zlagoda</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <header class="noPrint">
        <navbar :user-role="userRole" />
      </header>

      <main>
        <div class="employees-header noPrint" v-if="!isLoading">
          <h2>Employees</h2>

          <div class="actions-container">
            <form class="search-form" action="/search" method="get">
              <label for="search">Search:</label>
              <input
                type="search"
                id="search"
                name="search"
                placeholder="Search"
              />
              <button type="submit">
                <span class="material-symbols-outlined">search</span>
              </button>
            </form>

            <div class="buttons-container" v-if="isManager">
              <button
                type="button "
                class="add-new-btn"
                @click="goToAddEmployee"
              >
                Add New
              </button>
              <button
                type="button"
                class="filter-btn"
                @click="toggleFilterShow"
              >
                Filter
              </button>
              <button type="button" class="print-btn" onclick="window.print()">
                Print
              </button>
            </div>
          </div>

          <div class="filter-block" v-if="showFilter" @submit.prevent>
            <form class="filter-form">
              <div class="form-grid">
                <div class="form-label">Show:</div>
                <div class="form-field">
                  <div class="checkbox-field">
                    <input
                      id="show-cashiers"
                      name="show-cashiers"
                      type="checkbox"
                    />
                    <label for="show-cashiers">Cashiers</label>
                  </div>
                  <div class="checkbox-field">
                    <input
                      id="show-managers"
                      name="show-managers"
                      type="checkbox"
                    />
                    <label for="show-managers">Managers</label>
                  </div>
                </div>

                <div class="form-label">By name:</div>
                <div class="form-field">
                  <select
                    id="cashier-select"
                    name="cashier-select"
                    class="edit-dropdown"
                  >
                    <option selected disabled value="">Select Employee</option>
                    <option
                      v-for="employee in employees"
                      :key="employee.id_employee"
                      :value="employee.id_employee"
                    >
                      {{ employee.empl_surname }} {{ employee.empl_name }} {{
                      employee.empl_patronymic }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="filter-form-button">
                <button type="submit" class="save-btn">Filter</button>
              </div>
            </form>
          </div>
        </div>

        <section class="contents">
          <div class="table-section" v-if="!isLoading">
            <table>
              <thead class="table-headers">
                <tr class="table-row">
                  <th class="id">ID</th>
                  <th class="name">Full Name</th>
                  <th class="role">Role</th>
                  <th class="address">Address</th>
                  <th class="phone-number">Phone Number</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="table-row"
                  v-for="item in displayedItems('employees')(employees)"
                  :key="item.id_employee"
                >
                  <td class="id">{{ item.id_employee }}</td>
                  <td class="name">
                    <a :href="'employee-page.html?id=' + item.id_employee">
                      {{ item.empl_surname }} {{ item.empl_name }}
                      <span v-if="item.empl_patronymic">
                        {{ item.empl_patronymic }}</span
                      ></a
                    >
                  </td>
                  <td class="role">{{ item.empl_role }}</td>
                  <td class="date-of-start">
                    {{ item.city }}
                    <span v-if="item.street">,</span> {{item.street}}
                    <span v-if="item.zipcode">,</span>{{item.zipcode}}
                  </td>
                  <td class="phone-number">{{ item.phone_number }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <div
          class="button-container"
          v-if="!isLoading && hasMoreItems('employees')(employees)"
        >
          <button class="show-more-btn" @click="showMoreItems('employees')">
            Show More
          </button>
        </div>
      </main>

      <custom-footer v-if="!isLoading" class="noPrint"></custom-footer>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/app.js"></script>
</html>
