<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/customer-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <title>Customer Page</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <header>
        <navbar :user="user" :is-logged-in="isLoggedIn" />
      </header>

      <main v-if="!isLoading">
        <div class="customer-header">
          <h2>New Customer</h2>
        </div>

        <custom-error
          v-if="error"
          :message="error.message"
          @dismiss="dismissError"
        ></custom-error>

        <section class="contents">
          <form action="" class="edit-form" @submit.prevent="addNewCustomer">
            <div class="customer-details-upper">
              <div
                class="customer-details-upper-wrapper"
                style="display: block"
              >
                <div class="form-field">
                  <label for="cust_surname">Surname:</label>
                  <input
                    type="text"
                    id="cust_surname"
                    v-model="newCustomer.cust_surname"
                    class="edit-input"
                    maxlength="50"
                    pattern="^[A-Z][a-z]{1,49}(?:-[A-Z][a-z]{1,49})*$"
                    title="Surame must consist of letters"
                    required
                  />

                  <label for="cust_name">Name:</label>
                  <input
                    type="text"
                    id="cust_name"
                    maxlength="50"
                    v-model="newCustomer.cust_name"
                    class="edit-input"
                    pattern="^[A-Z][a-z]{1,49}(?:-[A-Z][a-z]{1,49})*$"
                    title="Name must consist of letters"
                    required
                  />

                  <label for="cust_patronymic">Patronymic:</label>
                  <input
                    type="text"
                    id="cust_patronymic"
                    maxlength="50"
                    v-model="newCustomer.cust_patronymic"
                    pattern="^[A-Z][a-z]{1,49}(?:-[A-Z][a-z]{1,49})*$"
                    title="Patronymic must consist of letters"
                    class="edit-input"
                  />
                </div>
              </div>
            </div>
            <hr />

            <div class="customer-details-lower">
              <div class="customer-percent form-field">
                <h3 for="customer-percent">Percent:</h3>
                <select
                  id="customer-percent"
                  name="customer-percen"
                  v-model.number="newCustomer.percent"
                  class="edit-dropdown"
                  required
                >
                  <option v-for="percent in [0, 5, 10, 15]" :value="percent">
                    {{ percent }}%
                  </option>
                </select>
              </div>
              <div class="customer-phone-number form-field">
                <h3 for="phone_number">Phone number:</h3>
                <input
                    type="tel"
                    id="phone_number"
                    maxlength="13"
                    minlength="13"
                    pattern="^\+380\d{9}$"
                    title="Number must start with +380 and consist of digits"
                    v-model="newEmployee.phone_number"
                    @input="formatPhoneNumber($event, 'customer')"
                    @keydown="preventPrefixDeletion($event)"
                    class="edit-input"
                    required
                  />
              </div>

              <div class="customer-address form-field">
                <h3>Address:</h3>
                <label for="city">City:</label>
                <input
                  type="text"
                  id="city"
                  maxlength="50"
                  v-model="newCustomer.city"
                  class="edit-input"
                />

                <label for="street">Street:</label>
                <input
                  type="text"
                  id="street"
                  maxlength="50"
                  v-model="newCustomer.street"
                  class="edit-input"
                />

                <label for="zip_code">Zip Code:</label>
                <input
                  type="text"
                  id="zip_code"
                  v-model="newCustomer.zip_code"
                  minlength="5"
                  maxlength="9"
                  pattern="^\d+$"
                  title="Zip code must be 5 to 9 digits"
                  class="edit-input"
                />
              </div>
            </div>

            <div class="buttons-section" v-if="isManager">
              <button class="save-btn" type="sumbit">Add Customer</button>
            </div>
          </form>
        </section>
      </main>

      <custom-footer v-if="!isLoading"></custom-footer>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
