<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/employee-page.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <title>Add New Employee</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <header>
        <navbar :user-role="userRole" />
      </header>

      <main v-if="!isLoading">
        <div class="employee-header">
          <h2>New Employee</h2>
        </div>

        <section class="contents">
          <form action="" class="edit-form" @submit.prevent="addNewEmployee">
            <div class="employee-details-upper">
              <div
                class="employee-details-upper-wrapper"
                style="display: block"
              >
                <div class="form-field">
                  <label for="empl_surname">Surname:</label>
                  <input
                    type="text"
                    id="empl_surname"
                    maxlength="50"
                    v-model="newEmployee.empl_surname"
                    class="edit-input"
                    pattern="^[A-Z][a-z]{1,49}(?:-[A-Z][a-z]{1,49})*$"
                    title="Surname must consist of letters"
                    required
                  />

                  <label for="empl_name">Name:</label>
                  <input
                    type="text"
                    id="empl_name"
                    maxlength="50"
                    v-model="newEmployee.empl_name"
                    class="edit-input"
                    pattern="^[A-Z][a-z]{1,49}(?:-[A-Z][a-z]{1,49})*$"
                    title="Name must consist of letters"
                    required
                  />

                  <label for="empl_patronymic">Patronymic:</label>
                  <input
                    type="text"
                    id="empl_patronymic"
                    maxlength="50"
                    v-model="newEmployee.empl_patronymic"
                    pattern="^[A-Z][a-z]{1,49}(?:-[A-Z][a-z]{1,49})*$"
                    title="Patronymic must consist of letters"
                    class="edit-input"
                  />

                  <div class="employee-role form-field">
                    <label for="empl_role">Role:</label>
                    <select
                      id="empl_role"
                      v-model="newEmployee.empl_role"
                      class="edit-dropdown"
                    >
                      <option disabled :value="null">Select role</option>
                      <option value="Cashier">Cashier</option>
                      <option value="Manager">Manager</option>
                    </select>
                  </div>

                </div>
                
                <div class="employee-is-active form-field">
                  <label for="is_active_toggle" class="toggle-label" >Active:</label>
                  <label class="toggle-switch">
                    <input
                      type="checkbox"
                      id="is_active_toggle"
                      v-model="newEmployee.is_active"
                    />
                    <span class="toggle-slider"></span>
                  </label>
                </div>

              </div>
            </div>
            <hr />

            <div class="employee-details-lower">
              <div class="employee-salary form-field">
                <h4 for="salary">Salary:</h4>
                <input
                  type="number"
                  id="salary"
                  step="100"
                  min="0"
                  max="999999999999.9999"
                  v-model.number="newEmployee.salary"
                  class="edit-input"
                  required
                />
              </div>

              <div class="employee-date-of-birth form-field">
                <h4 for="date_of_birth">Date of birth:</h4>
                <input
                  type="date"
                  id="date_of_birth"
                  v-model="newEmployee.date_of_birth"
                  class="edit-input"
                  requried
                />
              </div>

              
              <div class="employee-date-of-start form-field">
                <h4 for="date_of_start">Date of start:</h4>
                <input
                  type="date"
                  id="date_of_start"
                  v-model="newEmployee.date_of_start"
                  class="edit-input"
                  requried
                />
              </div>

              <div class="employee-phone-number form-field">
                <h4 for="phone_number">Phone number:</h4>
                <input
                  type="tel"
                  id="phone_number"
                  maxlength="13"
                  minlength="13"
                  pattern="^\+380\d{9}$"
                  title="Number must start with +380 and consist of digits"
                  v-model="newEmployee.phone_number"
                  class="edit-input"
                  required
                />
              </div>

              <div class="employee-address form-field">
                <h4>Adress:</h4>
                <label for="city">City:</label>
                <input
                  type="text"
                  id="city"
                  maxlength="50"
                  v-model="newEmployee.city"
                  class="edit-input"
                  required
                />

                <label for="street">Street:</label>
                <input
                  type="text"
                  id="street"
                  maxlength="50"
                  v-model="newEmployee.street"
                  class="edit-input"
                  required
                />

                <label for="zip_code">Zip Code:</label>
                <input
                  type="text"
                  id="zip_code"
                  class="edit-input"
                  minlength="5"
                  maxlength="9"
                  pattern="^\d+$"
                  title="Zip code must be 5 to 9 digits"
                  v-model="newEmployee.zip_code"
                  required
                />
              </div>
            </div>

            <div class="buttons-section" v-if="isManager">
              <button class="save-btn" type="sumbit">Add Employee</button>
            </div>
          </form>
        </section>
      </main>

      <custom-footer v-if="!isLoading"></custom-footer>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
