<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/products.css" />
    <link rel="stylesheet" href="../styles/tables.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <title>Products - Zlagoda</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <header class="noPrint">
        <navbar :user-role="userRole" />
      </header>

      <main>
        <div class="products-header noPrint">
          <h2>Products</h2>

          <div class="actions-container">
            <form class="search-form" action="/search" method="get">
              <label for="search">Search:</label>
              <input
                type="search"
                id="search"
                name="search"
                placeholder="Search"
              />
              <button type="submit">
                <span class="material-symbols-outlined">search</span>
              </button>
            </form>
            <div class="buttons-container" v-if="isManager">
              <button class="add-new-btn" @click="goToAddProduct">
                Add New
              </button>
              <button type="button" class="filter-btn">Filter</button>
              <button type="button" class="sort-btn">Sort</button>
              <button type="button" class="print-btn" onclick="window.print()">
                Print
              </button>
            </div>
          </div>
        </div>

        <section class="contents noPrint">
          
          <div v-if="!isLoading && products.length === 0" class="no-products-message">
            <p>No products found in this category.</p>
          </div>

          <div class="products-grid" v-if="!isLoading">
            <product-card
              v-for="product in displayedItems('products')(products)"
              :key="product.UPC"
              :product="product"
            ></product-card>
          </div>

          <div
            class="button-container"
            v-if="!isLoading && hasMoreItems('products')(products)"
          >
            <button class="show-more-btn" @click="showMoreItems('products')">
              Show More
            </button>
          </div>
        </section>

        <table class="table-section">
          <thead class="table-headers">
            <tr>
              <th>UPC</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Count</th>
              <th>Price (&#8372;)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" :key="product.UPC">
              <td>{{ product.UPC }}</td>
              <td>{{ product.product.product_name }}</td>
              <td>{{ product.product.category_name }}</td>
              <td>{{ product.products_number }}</td>
              <td>{{ product.selling_price }}</td>
            </tr>
          </tbody>
        </table>
      </main>

      <custom-footer v-if="!isLoading" class="noPrint"></custom-footer>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/app.js"></script>
</html>
