<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/buttons.css" />
    <link rel="stylesheet" href="../styles/products.css" />
    <link rel="stylesheet" href="../styles/tables.css" />
    <link rel="stylesheet" href="../styles/filters.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <link rel="icon" type="image/x-icon" href="../images/favicon.svg" />
    <title>Products - Zlagoda</title>
  </head>
  <body>
    <div id="app" v-cloak>
      <header class="noPrint">
        <navbar :user="user" :is-logged-in="isLoggedIn" />
      </header>

      <custom-error
        v-if="error"
        :message="error.message"
        @dismiss="dismissError"
      ></custom-error>

      <main>
        <div class="products-header noPrint" v-if="!isLoading">
          <h2>
            Products <span v-if="selectedFilter">| {{ selectedFilter }}</span>
          </h2>

          <div class="actions-container">
            <form class="search-form" @submit.prevent="searchProducts">
              <label for="search">Search:</label>
              <input
                type="search"
                id="search"
                name="search"
                v-model="productSearchQuery"
                placeholder="Search"
              />
              <button type="submit">
                <span class="material-symbols-outlined">search</span>
              </button>
            </form>
            <div class="buttons-container">
              <button v-if="isManager || isCashier" class="add-new-btn" @click="goToAddProduct" v-if="isManager">
                Add New
              </button>
              <button
                type="button"
                class="filter-btn"
                @click="toggleFilterShow"
              >
                Filter
              </button>
              <button type="button" class="print-btn" onclick="window.print()" v-if="isManager">
                Print
              </button>
            </div>
          </div>

          <div class="filter-block" v-if="showFilter">
            <form class="filter-form" @submit.prevent="applyProductFilters">
              <div class="form-grid">
                <div class="form-label">Category:</div>
                <div class="form-field">
                  <select
                    id="category-select"
                    name="category-select"
                    class="edit-dropdown"
                  >
                    <option selected disabled value="">Select Category</option>
                    <option
                      v-for="category in productsCategories"
                      :key="category.category_number"
                      :value="category.category_number"
                      :data-name="category.category_name"
                    >
                      {{ category.category_name }}
                    </option>
                  </select>
                </div>

                <div class="form-label">Show:</div>
                <div class="form-field">
                  <div class="radio-field">
                    <input
                      type="radio"
                      id="show-promotional"
                      name="show-type"
                      value="promotional"
                      v-model="productTypeFilter"
                    />
                    <label for="show-promotional">Promotional</label>
                  </div>

                  <div class="radio-field">
                    <input
                      type="radio"
                      id="show-non-promotional"
                      name="show-type"
                      value="non-promotional"
                      v-model="productTypeFilter"
                    />
                    <label for="show-non-promotional">Non-Promotional</label>
                  </div>
                </div>

                <div class="form-label">Sort by:</div>
                <div class="form-field">
                  <div class="checkbox-field">
                    <input
                      type="checkbox"
                      id="sort-name"
                      value="product.product_name"
                      v-model="sortProductsParamsField"
                    />
                    <label for="sort-name">Name</label>
                  </div>
                  <div class="checkbox-field">
                    <input
                      type="checkbox"
                      id="sort-quantity"
                      value="products_number"
                      v-model="sortProductsParamsField"
                    />
                    <label for="sort-quantity">Quantity</label>
                  </div>
                </div>
              </div>

              <div class="filter-form-button">
                <button
                  type="button"
                  class="clear-filter-btn"
                  @click="clearProductFilters"
                >
                  Clear
                </button>
                <button type="submit" class="filter-btn">Filter</button>
              </div>
            </form>
          </div>

          <div class="total-pieces-message" v-if="filtersApplied">
            {{ currentCategory.category_name }} {{ totalPieces }} pcs
          </div>
        </div>

        <section class="contents noPrint">
          <div
            class="no-products-message"
            v-if="!isLoading && (productSearchQuery.trim() !== '' || filtersApplied) && products.length === 0"
          >
            <p>No products found.</p>
          </div>
          <div class="products-grid" v-if="!isLoading">
            <product-card
                    v-for="product in displayedItems('products')(products)"
              :key="product.UPC"
              :product="product"
            >
            </product-card>

          </div>

          <div
                  class="button-container"
                  v-if="!isLoading && hasMoreItems('products')(products)"
          >
            <button class="show-more-btn" @click="showMoreItems('products')">
              Show More
            </button>
          </div>
        </section>

        <table class="table-section">
          <thead class="table-headers">
            <tr>
              <th>UPC</th>
              <th>Product Name</th>
              <th>Category</th>
              <th>Count</th>
              <th>Price (₴)</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
          <tr v-for="product in products" :key="product.UPC">
              <td>{{ product.UPC }}</td>
              <td>{{ product.product.product_name }}</td>
              <td>{{ product.product.category?.category_name }}</td>
              <td>{{ product.products_number }}</td>
              <td>{{ product.selling_price.toFixed(2) }}</td>
              <td>{{ product.products_number}}</td>
            </tr>
          </tbody>
        </table>
      </main>

      <custom-footer class="noPrint" v-if="!isLoading"></custom-footer>
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../js/app.js"></script>
</html>
