.check-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-and-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
}

table th,
table td,
.check-sum-and-vat dd{
  text-align: right;
}

.table-section th:nth-child(1),
.table-section td:nth-child(1) {
  width: max-content;
  text-align: left;
}

dl.check-sum-and-vat-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
  padding: 10px;
}

div.check-details-lower > div > button {
  margin: 0 10px;
}

.form-field {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: 10px;
  width: 30%;
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  margin: 0;
}

.product-quantity input {
  width: 35%;
  text-align: right;
}

dt {
  margin-bottom: 10px;
}

dd {
  margin: 0;
}

.customer-link,
.employee-link,
.product-name {
  text-decoration: underline;
}

.check-vat,
.check-vat-value {
  font-size: 0.7em;
}
