.employee-details {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-details-upper-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.form-field {
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: 10px;
  width: 440px;
}

.employee-details-lower .form-field {
  display: grid;
  grid-template-columns: 440px;
  align-items: center;
  gap: 10px;
  width: 440px;
}

.toggle-switch {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #66bb6a;
}

input:checked + .toggle-slider::before {
  transform: translateX(26px);
}

.toggle-label {
  padding-top: 10px;
}


.employee-details-lower p {
  font-style: italic;
}

.buttons-section {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.error-box {
  border: 3px solid #721919;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f2cdcc;
  color: #721919;
  border-radius: 5px;
}

