footer {
    background-color: #4A5759;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
}

footer p {
    margin: 10px;
}