@font-face {
    font-family: 'Jacquard';
    src: url('../fonts/Jacquard_24/Jacquard24-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #4A5759;
    color: #FFFFFF; 
    display: flex;
    flex-direction: column;
}

.logo img {
    height: 30px;
    width: 30px;
}

.top-nav {
    margin: 0 60px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
}

.nav-top h1 {
    font-family: 'Jacquard';
    font-weight: normal;
    font-size: 2em;
    margin: 0;
}

.nav-pages-bar {
    display: flex;
    background-color: #B0C4B1;
    height: 50px;
    margin: 0;
}

.nav-pages-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-pages-bar ul li {
    height: 100%;
    display: flex;
}

.nav-pages-bar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.nav-pages-bar ul li.active {
    background-color: #fff7f4;
}

.login-btn .material-symbols-outlined,
.login-label .material-symbols-outlined {
  font-size: 24px;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.account-options {
    text-align: left;
    margin: 0;
    padding: 0;
    padding: 10px 20px;
}

.account-options li a, .login-btn a {
    color: white;
}

.account-options li {
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.account-options li:last-child {
    border-bottom: none;
}

.login-popup {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 250px;
    background-color: #4A5759;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 0 60px;
}