@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

[v-cloak] {
    display: none !important;
  }

html{
    overflow-y: scroll;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fff7f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    min-height: 100vh;
    color: #243336;
    overflow-x: hidden;
}

main {
    flex: 1;
    height: 100%;
    margin: 20px 60px;
    margin-bottom: 40px;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.contents {
    margin: 20px 0;
}

li {
    list-style: none;
}

a {
    color: #243336;
    text-decoration: none;
}