.table-section {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}

table th,
table td {
    border-bottom: 1px solid #D9D9D9;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tr:last-of-type td {
    border-bottom: none;
}

table .table-headers {
    font-weight: bold;
}